<h4 class="text-center">Commentaires</h4>
<table class="table table-hover">
	<tbody>
		{% if app.user %}
			{{form_start(commentform)}}
				{# {{form_row(commentform.content)}} #}
			{{form_end(commentform)}}
		{% endif %}
		{% for comment in post.comments|sort((b, a) => a.createdAt <=> b.createdAt) %}
			<tr class="table-light">
				<td>{{ comment.createdAt | date('g:ia') }}</td>
				<td>{{ comment.user.username }}</td>
				<td>{{ comment.content }}.</td>
			</tr>
		{% endfor %}
	</tbody>

</table>
